.muestraresult{
	position:absolute;
	z-index:1;
	width: 210px;
	max-width: 220px;
}

.resultadoBus p{
	font-size: 15px;
}
.controlbuscador{
	margin-bottom: -19.6px;
	margin-left: 15px;
}
/*Activar esta clase para la funcionalidad del frondend Scroll*/
.fixed{
	position: fixed;
	width: 100%;
	z-index: 1000;
	top: 0;
}

.espacio{
	margin-top: 40px;
}